/* Definindo as variáveis de cores */
:root {
    --cor-primaria: #2a9d8f;  /* Verde água */
    --cor-secundaria: #e9c46a; /* Amarelo suave */
    --cor-terciaria: #264653;  /* Azul petróleo */
    --texto-claro: #ffffff;    /* Branco */
    --texto-escuro: #1d3557;   /* Azul escuro */
}

body {
    background-color: var(--cor-terciaria);
    color: var(--texto-claro);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}

.cartao {
    background-color: var(--cor-secundaria);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    color: var(--texto-escuro);
}

.cartao__conteudo h3 {
    margin-top: 0;
    color: var(--cor-primaria);
}

footer {
    background-color: var(--cor-escuro);
    padding: 10px;
    text-align: center;
    color: var(--texto-claro);
}
